# Required, remove render api key if you're not using render

SESSION_ID=your-session-id-i don't care where you get one if it doesn't work not my problem 
OWNER_NUMBER=27799648540 
WORKTYPE=public
PREFIX=[.]
TIMEZONE=Africa/Lagos
BOT_NAME=MUDAU-R
RENDER_API_KEY=your-render-api-key
